@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-btn-dark: #00008b;
  --color-btn-dark-hv: #0000cd;
  --color-btn-light: #87ceeb;
  --color-btn-light-hv: #add8e6;
  --color-txt-dark: #dedede;
  --color-txt-light: #333;
  --color-page-dark: #323232;
  --color-page-light: #f3f3f3;
}

@layer components {
  .item-dragging {
    @apply z-50 scale-[1.02] border-blue-500 bg-slate-50 shadow-2xl;
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

.animate-pulse-red {
  animation: pulse-red 2s infinite;
}
